{% extends 'base.html' %}
{% load static %}

{% block title %}Arbeitsplan{% endblock %}

{% block extra_head %}
<!-- FullCalendar core CSS -->
<link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' rel='stylesheet' />

<!-- FullCalendar core JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>

<!-- FullCalendar locale -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/locale/de.js'></script>

<style>
#calendar {
  width: 100%;
  height: 100%; /* Größere Höhe des Kalenders */
}

.fc-day-header {
  font-size: 28px; /* Größere Schriftgröße für Wochentage */
}

.fc-day-number {
  font-size: 22px; /* Größere Schriftgröße für Tagesnummern */
}

.fc-event {
  padding: 10px; /* Größerer Innenabstand der Ereignisse */
  font-size: 16px; /* Größere Schriftgröße der Ereignisse */
}

</style>

{% endblock %}

{% block extra_scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');
  var calendar = new FullCalendar.Calendar(calendarEl, {
    initialView: 'dayGridMonth',
    events: "{% url 'arbeitsplanung:arbeitsplan_entries' %}",
    eventDidMount: function(info) {
      // Assign a unique color to each event
      var color = getRandomColor();
      info.el.style.backgroundColor = color;
      info.el.style.borderColor = color;
    },
    firstDay: 1, // Set Monday as the first day of the week
    locale: 'de' // Set the German locale
  });
  calendar.render();

  var dailyViewEl = document.getElementById('dailyView');
  var dailyViewCalendar = new FullCalendar.Calendar(dailyViewEl, {
    initialView: 'timeGrid', // Set initial view to timeGrid
    slotDuration: '00:30:00',
    allDaySlot: false, // Disable the all-day slot
    events: "{% url 'arbeitsplanung:arbeitsplan_entries' %}",
    eventDidMount: function(info) {
      // Assign a unique color to each event
      var color = getRandomColor();
      info.el.style.backgroundColor = color;
      info.el.style.borderColor = color;

      var eventTitle = info.event.title;
      var mitarbeiter = info.event.extendedProps.mitarbeiter;
      var kunde = info.event.extendedProps.kunde;
      var start = info.event.start;
      var end = info.event.end;

      var eventContent = '<div class="event-title">' + eventTitle + '</div>';
      eventContent += '<div class="event-details">Mitarbeiter: ' + mitarbeiter + '</div>';
      eventContent += '<div class="event-details">Kunde: ' + kunde + '</div>';
      eventContent += '<div class="event-details">Startzeit: ' + start.toLocaleTimeString('de') + '</div>';
      eventContent += '<div class="event-details">Endzeit: ' + end.toLocaleTimeString('de') + '</div>';

      info.el.innerHTML = eventContent;
    },
    firstDay: 1, // Set Monday as the first day of the week
    locale: 'de' // Set the German locale
  });
  dailyViewCalendar.render();
});

function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center mb-4">Arbeitsplan</h1>
            <div id="calendar"></div>
        </div>
    </div>
</div>

<br><br><br><br>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center mb-4">Daily View</h1>
            <div id="dailyView"></div>
        </div>
    </div>
</div>
{% endblock %}





